<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Workout Buddies</title>
</head>

<body>
    <aside>
        <nav>
            <div>
                <a href="/user/">Home</a>
                <a href="/profile">My Profile</a>
                <a href="/user/workouts">My Workouts</a>
                <a href="/user/workouts/create">Create a new Workout</a>
                <a href="/logout">Log out</a>
            </div>
        </nav>
    </aside>
    <%- body %>
</body>