<div class="container">
    <div class="error500-title">
        <h1> OOOppps</h1>
    </div>
    <div class ="error500">
        <div class="error500-content">
        <div class="error500-img-container">
                <img class = "error500-img" src="/images/500fail.jpg" alt="Error 500" height="500rem" width="400rem">
            </div>
            <div class="error500-txt">
                <p>Sorry buddy, it's not you, it's us...</p>
                <p>We keep working on it!</p>
                <p> You can get back to the home page, this process didn't work apparently.</p>
            </div>
        </div>
        <pre>
            <%- error %>
        </pre>
    </div>
</div>
