<div class="container">
    <h1> OOOppps</h1>
    
    <img src="/images/500fail.jpg" alt="404" height="500" width="800">
    
    <p>Sorry buddy, it's not you, it's us...</p>
    <p>We keep working on it!</p>
</div>