<!DOCTYPE html>
<html>
  <head>
    <title>Workout buddies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Workout buddies</h1>
    <p>Welcome to Workout buddies</p>
    <img src="images/logo.jpeg" alt="logo">

    <p>You have an account?</p>
    <a href="/login/">Login</a>

    <p>You don't have an account yet?</p>
    <a href="/signup/">Sign Up</a>
  </body>
</html>
