<!DOCTYPE html>
<html>
  <head>
    <title>Workout buddies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Workout buddies</h1>
    <p>Welcome to Workout buddies</p>
    <p>Here comes the brief description of the web page and says user needs to update profile</p>
    <div>Sport 1</div>
    <div>Sport 2</div>
  </body>
</html>
