<div class="home-center">
  <h3>Welcome to Workout buddies</h3>
  <p class="lead text-muted">Discover all the workouts existing under your favourite sport</p>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" >
        <a href="/sports/basketball">
        <img class="mb-4 basketball" width="100%" height="230">
          <div class="d-flex justify-content-between align-items-center">
            <div class="container links">
              <a class="btn btn-sm link" href="/sports/basketball">Basketball</a>
            </div>
          </div>
        </a>   
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/sports/biking">
          <img class="mb-4 biking" width="100%" height="230">
          <div class="d-flex justify-content-between align-items-center">
            <div class="container links">
              <a class="btn btn-sm link" href="/sports/biking">Biking</a>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/sports/football">
        <img class="mb-4 football" width="100%" height="230" src="/images/football.jpg">
        <div class="d-flex justify-content-between align-items-center">
          <div class="container links">
            <a class="btn btn-sm link" href="/sports/football">Football</a>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/sports/running">
        <img class="mb-4" width="100%" height="230" src="/images/run.jpeg">
        <div class="d-flex justify-content-between align-items-center">
          <div class="container links">
            <a class="btn btn-sm link" href="/sports/running">Running</a>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/sports/tennis">
        <img class="mb-4" width="100%" height="230" src="/images/tennis.jpg">
        <div class="d-flex justify-content-between align-items-center">
          <div class="container links">
            <a class="btn btn-sm link" href="/sports/tennis">Tennis</a>
          </div>
        </div>
        </a>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/sports/others">
        <img class="mb-4" width="100%" height="230" src="/images/others.png">
        <div class="d-flex justify-content-between align-items-center">
          <div class="container links">
            <a class="btn btn-sm link" href="/sports/others">Others</a>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
  