    <div class="home">
    <p>Welcome to Workout buddies</p>
    <p>Here comes the brief description of the web page and says user needs to update profile</p>
    <ul>
      <li><a href="/sports/basketball">Basketball</a></li>
      <li><a href="/sports/biking">Biking</a></li>
      <li><a href="/sports/football">Football</a></li>
      <li><a href="/sports/running">Running</a></li>
      <li><a href="/sports/tennis">Tennis</a></li>
      <li><a href="/sports/others">Others</a></li>
  </ul>
</div>