<div class="home-center">
  <h3>Welcome to Workout buddies</h3>
  <p class="lead text-muted">Discover all the workouts existing under your favourite sport</p>
</div>
<div class="wrap">
  <div class="home-sports">
    
    <div class="sport-item basketball">
      <figure class="tint">
        <a href="/sports/basketball"> <img class="sport-logo" width="500em" height="300em" src="/images/basketball.jpeg">
        </a>
        <figcaption>
            <h2 class="sport-name">Basketball</h2>
        </figcaption>
      </figure>
    </div>
    
    <div class="sport-item biking">
    <figure class="tint t2">
      <a href="/sports/biking"><img class="sport-logo" width="500em" height="300em" src="/images/biking.jpeg"></a>
    <figcaption>
      <h2 class="sport-name">Biking</h2>
    </figcaption>
    </figure>
    </div>
    
    <div class="sport-item football">
      <figure class="tint t3">
        <a href="/sports/football"><img class="sport-logo" width="500em" height="300em" src="/images/football.jpg"></a>
      <figcaption>
      <h2 class="sport-name">Football</h2>
    </figcaption>
  </figure>
    </div>
    
    <div class="sport-item running">
      <figure class="tint t4">
        <a href="/sports/running"><img class="sport-logo" width="500em" height="300em" src="/images/run.jpeg"></a>
      <figcaption>
      <h2 class="sport-name">Running</h2>
    </figcaption>
  </figure>
    </div>
    <div class="sport-item tennis">
      <figure class="tint t5">
        <a href="/sports/tennis"><img class="sport-logo" width="500em" height="300em" src="/images/tennis.jpg"></a>
      <figcaption>
      <h2 class="sport-name">Tennis</h2>
    </figcaption>
  </figure>
    </div>
    <div class="sport-item others">
      <figure class="tint t6">
        <a href="/sports/others"><img class="sport-logo" width="500em" height="300em" src="/images/all.jpg"></a>
      <figcaption>
      <h2 class="sport-name">Other Sports</h2>
    </figcaption>
  </figure>
    </div>
  </div>
</div>
</div>

