<div class="container">
  <form action="/login" method="POST" id="form">
    <h2>Login</h2>
  
    <label for="username">Username</label>
    <input type="text" name="username">
  
    <label for="password">Password</label>
    <input type="password" name="password">
  
    <% if (errorMessage) { %>
        <p><%= errorMessage %></p>
    <% } %>

    <button type="button" class="btn btn-info">Log in</button>
    <p>
      Don't have an account? <a type="button" class="btn btn-success" href="/signup">Sign up</a>
    </p>
  </form>
</div>
