<h1>Create a new workout</h1>

<form action="/user/workouts/new" method="post">
    <label for="activity">activity</label>
    <input type="text" name="activity" id="activity">
    <label for="meetingpoint">Meeting point</label>
    <input type="text" name="meetingpoint" id="meetingpoint">
    <label for="date">Date</label>
    <input type="date" name="date" id="date">
    <label for="timeframe">Time frame</label>
    <input type="number" name="timeframe" id="timeframe">
    <label for="comment">Comment</label>
    <input type="text" name="comment" id="comment">
    <input type="submit" value="create">
  </form>