<h1>Create a new workout</h1>

<form action="/user/workouts/new" method="post">
    <label for="activity">Activity</label><br>
    <select name="activity" id="activity">
      <option value="Running"><b>Running</b></option>
      <option value="Biking"><b>Biking</b></option>
      <option value="Volleyball"><b>Volleyball</b></option>
      <option value="Football"><b>Football</b></option>
      <option value="Basketball"><b>Basketball</b></option>
      <option value="Tennis"><b>Paddel</b></option>
      <option value="Others"><b>Others</b></option>
    </select>
    <br>
    <label for="meetingpoint">Meeting point</label><br>
    <input type="text" name="meetingpoint" id="meetingpoint">
    <br>
    <label for="date">Date</label><br>
    <input type="date" name="date" id="date">
    <br>
    <label for="duration">Duration </label><br>
    <select name="duration" id="duration">
        <option value="60" selected="selected"><b>1h</b></option>
        <option value="30"><b>30m</b></option>
        <option value="90"><b>1h 30m</b></option>
        <option value="120"><b>2h</b></option>
        <option value="180"><b>3h</b></option>
        <option value="240"><b>4h</b></option>
  </select>
    <br>
    <label for="comment">Comment</label><br>
    <textarea name="comment" rows="5" id="comment"></textarea>
    <br>
    <input type="submit" value="create">
  </form>