<div class="profile-section">
  <div class="profile-card-wrapper">
    <div class="profile-card">
      <img class="profile-img" src=" <%= user.picture %> " 
      onerror="if (this.src != 'error.jpg') this.src = '/images/default-picture.jpg';">
      <h1> <%= user.name %> </h1>
      <p class="about">Who are you and what are your favotires workouts? <i><%= user.description %></i></p>
      <div class="update-container">
        <a class="update-btn" href="/profile/updateProfile">
          Update profile
        </a>
      </div>
    </div>    
  </div>
</div>
<div>
  <form action="/profile/deleteProfile" method="post">
  <input class="btn btn-danger" type="submit" value="Delete your profile permanently">
  </form>
</div>