<h1>Welcome to your profile</h1>

<h2> Hi <%= user.username %>, that's the information other users see about you </h2>

<div>
  <h2>Your profile pucture</h2>
  <img src="<%= user.picture %>" alt="Smiley face" height="200" width="200">
</div>
<div>
  <h2>Your favourite sports</h2>
  <h3><%= user.preferences %> </h3> <br>
</div>
<div>
  <h2>Your brief description</h2>
  <h3><%= user.description %></h><br>
</div>  

<a href="/profile/updateProfile">
  Click here to update your profile
</a>

<a href="/profile/deleteProfile">
  Do you want to delete your account?
</a>


