<div class="container">
<form id="form" action="/signup" method="POST">
    <label class="signin-form" for="name">Name</label><br>
    <input type="text" name="name"
      placeholder="Name">
    <br>  
    <label class="signin-form" for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Username">
    <br>  
    <label class="signin-form" for="email">Email</label><br>
    <input type="email" name="email"
      placeholder="email">
    <br>  
    <label class="signin-form" for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="*****">
    <br>  
    <button class="btn btn-link" type="submit">Create account</button>
    <% if (errorMessage) { %>
     
        <p><%= errorMessage %></p>
         
       <% } %>
</form>
</div>