<div class="container">
<form id="form" action="/signup" method="POST">
  <div class="form-label-group">
    <label for="name"></label><br>
    <input type="text" name="name" class="rounded"
      placeholder="Name">
  </div>
  <div class="form-label-group">     
    <label for="username"></label><br>
    <input type="text" name="username" class="rounded"
      placeholder="Username">
  </div>
  <div class="form-label-group">    
    <label for="password"></label><br>
    <input type="password" name="password" class="rounded"
      placeholder="password">
  </div>
  <br>    
  <div>
    <button class="btn button singup" type="submit" >Create account</button>
  </div>
</form>
</div>