<div class="container">
  <h2>Hey <%= user.username %>, here you can update the information you want people to see about you</h2>
  <form action="/profile/updateProfile" method="post" enctype="multipart/form-data">
    <div>
      <label>Picture</label>
      <input type="file" id="picture" name="picture" />
    </div>
    <div>
      <label for="description">Write down a brief description</label>
      <br>
      <textarea type="text" name="description" id="description"></textarea>
    </div>    
    <input type="submit" value="Update">
  </form>
</div> 