.font {
    font-weight: normal;
}
.home {
    background-color: #593196;
    color: whitesmoke;
}
.icon {
    font-family:'FontAwesome';
    color: whitesmoke;
}
.join-button {
    float: right;
    padding: 5px;
}
.links {
    margin-bottom: 15px;
}

.link {
    border-radius: 80px;
    background-color: #EFA31D;
    color: whitesmoke;
}

.nav {
    background-color: #593196;
}

.image {
    height: 60px;
    width: 60px;
    float: right;
    margin: 5px;
    position: absolute;
    top: 110px;
    right: 10px;
}

.image-container {
    float: right;
    margin: 0 -2px 0 0;
}

.list-content {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2.15rem;
    cursor: pointer;
    display: grid;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 315px;
    min-height: 20px;
    position: relative;
    padding: 25px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 0;
}

.list-container {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
    list-style-type: none;
}

.profile-unit {
   width: 17em;
   margin: 0 auto;
}

.profile-text-container {
    width: 95%;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    margin: 0 auto;
}

.profile-titles {
    font-size: 1em;
}

.profile-content {
 font-size: 2em;
}

.sports-container {
    width: 450px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    vertical-align: top;
    white-space: nowrap;
}

.user-name, .profile-title, .profile-explanation {
    padding-bottom: 1em;
}