.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/images/default-picture.jpg");
}

.basketball {
    background-image: url("/images/basketball.jpeg");
    background-position: center;
    background-size: cover;
}

.biking {
    background-image: url("/images/biking.jpeg");
    background-position: center;
    background-size: cover;

}
.buttons {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 1.25rem;
}

.widthdraw {
    text-align: center;
}

.error500 {
    text-align: center;
}
.error500-img {
    max-width:100%;
    max-height:100%;
    border-radius: 15px;
}

.error500-content {
    max-width:100%;
    max-height:100%;
}

.error500-title {
    padding-bottom: 2em;
}

.font {
    font-weight: normal;
}

.football {
    background-image: url("/images/football.jpg");
    background-position: center;
    background-size: cover;


}
.home {
    background-color: #593196;
    color: whitesmoke;
}

.home-center {
    text-align: center;
    margin: 35px auto;
}
.icon {
    font-family:'FontAwesome';
    color: whitesmoke;
}

.icons {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    height: 60px;
    width: 60px;
    float: right;
    margin: 5px;
    position: absolute;
    top: 110px;
    right: 10px;
}

.image-container {
    float: right;
    margin: 0 -2px 0 0;
}
.join-button {
    float: right;
    padding: 5px;
}
.links {
    margin-bottom: 15px;
    margin-top: 15px;
}

.link {
    border-radius: 80px;
    background-color: #EFA31D;
    color: whitesmoke;
}

.list-a {
    text-decoration: none;
    padding: 0 30px;
    display: block;
    width: 100%;
}

.list-a .icons .fas {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: whitesmoke;
}
.list-a:hover .icons .fas {
    transition: all 200ms ease;
    
}

.list-a:hover .icons .fas:last-child {
    color:#D406A7;
    
} 

.list-content {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2.15rem;
    cursor: pointer;
    display: grid;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    min-height: 20px;
    position: relative;
    padding: 25px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 0;
}

.list-container {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
    list-style-type: none;
}

.nav {
    background-color: #593196;
}

.profile-content {
    font-size: 2em;
}

.profile-img {
    width: 100%;
    margin: 0 auto;
}

.profile-links-wrapper {
    text-align: center;
}

.profile-links {
    display: inline-block;
}

.profile-text-container {
    width: 95%;
    margin: 0 auto;
}

.profile-titles {
    font-size: 1em;
}

.profile-unit {
   width: 17em;
   margin: 0 auto;
}

.sports-container {
    width: 450px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    vertical-align: top;
    white-space: nowrap;
}

.update-profile-link {
    padding-bottom: 6em;
}

.user-name, .profile-title, .profile-explanation {
    padding-bottom: 1em;
}

.workout-content {
    margin-bottom: 20px;
}

.wrap {
    padding-left: 3em;
    padding-right: 3em;
}

.singup {
    background-color: #593196;
    color: whitesmoke;
}
