.links {
    margin-bottom: 15px;
}

.link {
    border-radius: 80px;
    background-color: #EFA31D;
    color: whitesmoke;
}

.nav {
    background-color: #593196;
}

.icon {
    font-family:'FontAwesome';
    color: whitesmoke;
}

.profile-unit {
   width: 17em;
   margin: 0 auto;
}

.profile-text-container {
    width: 95%;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    margin: 0 auto;
}

.profile-titles {
    font-size: 1em;
}

.profile-content {
 font-size: 2em;
}

.user-name, .profile-title, .profile-explanation {
    padding-bottom: 1em;
}